# Jangan gunakan tanda kutip( " atau ' )

API_KEY=9285198
API_HASH=33e4caa483022ef6b23d3a7ead6cb88b
STRING_SESSION=1ApWapzMBuxFuF-WIjADvA2BoBeNNRCaMfWEe8IEZSBodFdYf6rWBPbCaoDZoYh4OCvWONDH5dBPj-RzvdVxr-v-bRj9DcyEcNwxawGtR-7yOgWDoOcz3RWfEG8wuf3rKz0fwvrTC7qGGLcC0cxk90Y0DbENnpfirVKXO8QFjBV_8mh417GAAy4TJhhKrkwZn1QLWrzvDk9_0yhmAcUwB7SXD1hd5b0OnzT5xy3uNPMIUQW8AbOGortkxY5a_nxs-S0CN7jcKiu66SKVU9AiiSYUh5ArCFR7yec0ushelAUdVe4__t9G63iTIcUFqeuCXH-iUtihh_M1JK8cU0ARkWlXFi-gUPb0=


# tidak wajib di isi
# API Key Open AI untuk modul OpenAI
OPENAI_API_KEY=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 
